/* From data-framer-breakpoint-css */
@media(min-width: 1200px) {
    .hidden-72rtr7 {
        display: none !important
    }
}

@media(min-width: 800px) and (max-width: 1199px) {
    .hidden-hra3w {
        display: none !important
    }
}

@media(max-width: 799px) {
    .hidden-8e4sg2 {
        display: none !important
    }
}


/* From data-framer-css-ssr-minified */
html,
body,
#main {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0
}

body,
input,
textarea,
select,
button {
    font-size: 12px;
    font-family: sans-serif
}

body {
    --token-462c75ea-ed4a-4050-b63e-b3f594dfb01c: rgb(119, 119, 119);
    --token-d516a816-f672-4cf5-80f8-de2e7e4b7cc7: rgb(0, 0, 0)
}

#__framer-badge-container {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    pointer-events: none;
    z-index: 314159
}

.__framer-badge {
    pointer-events: auto
}

/* ... All other minified CSS rules from the original file go here ... */


/* From data-framer-html-style */
html body {
    background: rgb(240, 240, 240);
}